Auditoria_instancia__SSH_.json
{
  "name": "Auditoria instancia (SSH)",
  "nodes": [
    {
      "parameters": {
        "triggerTimes": {
          "item": [
            {
              "hour": 8,
              "minute": 35
            }
          ]
        }
      },
      "id": "c45386cc-b0af-4baa-a267-1b56fff11e65",
      "name": "Start (cron)",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "authentication": "privateKey",
        "command": "echo \"Tiempo de actividad:\" && uptime && echo \"Uso del disco:\" && df -h && echo \"Estado de Ejabberd:\" && systemctl status ejabberd | head -20 && echo \"Memoria RAM:\" && free -h"
      },
      "id": "d0f4bfd5-d1f6-4dc2-a20a-ba6a51f66d68",
      "name": "Estado del servidor (SSH)",
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [
        300,
        0
      ],
      "credentials": {
        "sshPrivateKey": {
          "id": "Gr98YoCt4KAXP2rq",
          "name": "SSH Private Key account"
        }
      }
    },
    {
      "parameters": {
        "fromEmail": "proyectoaa25@gmail.com",
        "toEmail": "proyectoaa25@gmail.com",
        "subject": "Informe Diario del Servidor Ejabberd",
        "text": "=",
        "html": "={{ $json.output }}",
        "options": {}
      },
      "id": "d2cd6fd4-cd64-4fa8-a2a8-d11eccdbcfc9",
      "name": "Enviar Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 1,
      "position": [
        940,
        0
      ],
      "credentials": {
        "smtp": {
          "id": "Klq2WPQ6EsIzAzvc",
          "name": "SMTP account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Actúa como técnico de sistemas. Resume el siguiente informe técnico y alerta si detectas errores, servicios parados o poco espacio en disco. El formato de salida debe ser en HTML y mantener una estructura constante.\n\nSigue esta estructura HTML exacta con todos los datos necesarios:\n\n<!DOCTYPE html>\n<html lang=\"es\">\n<head>\n  <meta charset=\"UTF-8\">\n  <title>Informe Técnico del Sistema</title>\n  <style>\n    body { font-family: Arial, sans-serif; padding: 20px; color: #333; background: #f9f9f9; }\n    h2 { color: #222; border-bottom: 2px solid #ccc; padding-bottom: 5px; }\n    h3 { margin-top: 30px; color: #2a2a2a; }\n    ul { padding-left: 20px; }\n    li { margin-bottom: 10px; }\n    p { margin: 10px 0; }\n    .ok { color: green; font-weight: bold; }\n    .warning { color: orange; font-weight: bold; }\n    .error { color: red; font-weight: bold; }\n    .box { background: #eaf6ea; padding: 10px 15px; border-left: 4px solid #2a8f2a; margin: 10px 0; }\n    .alert { background: #fff4e5; padding: 10px 15px; border-left: 4px solid #ffa500; margin: 10px 0; }\n    .critical { background: #ffe5e5; padding: 10px 15px; border-left: 4px solid #ff0000; margin: 10px 0; }\n    .footer { font-size: 0.9em; color: #777; margin-top: 40px; }\n  </style>\n</head>\n<body>\n<h2>🖥️ Informe técnico del sistema</h2>\n<h3>✅ Resumen general</h3>\n[AQUÍ VA EL RESUMEN: usar .box para OK, .alert para ADVERTENCIAS, .critical para ERRORES CRÍTICOS]\n\n<h3>📊 Estado detallado</h3>\n<ul>\n  <li><strong>🕒 Uptime:</strong> [EXTRAER UPTIME DEL INFORME]</li>\n  <li><strong>💾 Uso de disco:</strong> [ANALIZAR TODAS LAS PARTICIONES]</li>\n  <li><strong>🧠 Memoria RAM:</strong> [MEMORIA USADA/TOTAL Y ANÁLISIS]</li>\n  <li><strong>⚡ CPU Load:</strong> [LOAD AVERAGE SI ESTÁ DISPONIBLE]</li>\n  <li><strong>🔧 Servicios:</strong> [ESTADO DE SERVICIOS CRÍTICOS]</li>\n  <li><strong>👥 Usuarios conectados:</strong> [USUARIOS ACTIVOS]</li>\n  <li><strong>🌡️ Temperatura:</strong> [SI HAY DATOS DE TEMPERATURA]</li>\n</ul>\n\n<h3>⚠️ Alertas detectadas</h3>\n[SI HAY ALERTAS: usar .alert o .critical según gravedad]\n[SI NO HAY ALERTAS: usar .box con mensaje de \"No se encontraron alertas críticas\"]\n\n<h3>📅 Fecha del informe</h3>\n<p class=\"footer\">Generado automáticamente por IA a partir de los datos del sistema ([FECHA ACTUAL]).</p>\n</body>\n</html>\n\nDATOS DEL SISTEMA A ANALIZAR:\n{{ $json.stdout }}",
        "options": {
          "systemMessage": "Eres un técnico de sistemas especializado en análisis de infraestructura. Tu función es analizar datos del sistema y generar ÚNICAMENTE código HTML válido como respuesta.\n\nINSTRUCCIONES CRÍTICAS:\n- SOLO responde con HTML completo y válido\n- NO incluyas explicaciones, comentarios o texto adicional fuera del HTML\n- NO uses markdown, solo HTML puro\n- Mantén siempre la estructura HTML proporcionada\n- Analiza los datos del sistema aplicando los criterios técnicos establecidos\n\nCRITERIOS DE EVALUACIÓN:\n- Espacio en disco: CRÍTICO si >90%, ADVERTENCIA si >80%\n- Memoria RAM: CRÍTICO si >95%, ADVERTENCIA si >85%\n- Servicios: ERROR si algún servicio crítico está parado\n- Load average: CRÍTICO si >número de CPUs, ADVERTENCIA si >80% de CPUs\n- Uptime: SOLO reportar la información, NO generar alertas\n\nINFORMACIÓN A INCLUIR SIEMPRE:\n- Uptime del sistema (para revisión manual)\n- Uso detallado de todas las particiones de disco\n- Estado completo de memoria (RAM y swap)\n- Load average actual\n- Estado de todos los servicios detectados\n- Usuarios conectados\n- Cualquier otra métrica disponible en los datos\n\nCLASES CSS A USAR:\n- .ok (verde) para estados normales\n- .warning (naranja) para advertencias\n- .error (rojo) para errores críticos\n- .box para mensajes de estado OK\n- .alert para advertencias\n- .critical para errores graves"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        560,
        0
      ],
      "id": "967140b0-045c-41b8-af07-0ca6aa85d889",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": "deepseek/deepseek-chat-v3-0324:free",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        420,
        220
      ],
      "id": "b32651e5-edde-4052-ad30-1b659680c07b",
      "name": "deepseeek-chat-v3",
      "credentials": {
        "openRouterApi": {
          "id": "PNWLdkjFjAoax2Rn",
          "name": "OpenRouter account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Start (cron)": {
      "main": [
        [
          {
            "node": "Estado del servidor (SSH)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Estado del servidor (SSH)": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Enviar Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "deepseeek-chat-v3": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "d88c3845-468f-400c-a630-230ec175a54d",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "650d8ada028b7f9cb2df7939916ca6f637ae9dca2282f2ffe22904f37e02e638"
  },
  "id": "GrQbcJouHLrkUjNk",
  "tags": []
}